.icnMust {
    position: right;
    top: 25px;
    right: 10px;
    width: 50px;
    background-color: #F66;
    text-align: center;
    color: #FFF;
    font-size: 12px;
    font-weight: normal;
	margin-left: 10px;

}

.icnMustSp {
    position: right;
    top: 25px;
    right: 10px;
    width: 50px;
    background-color: #FFF;
    text-align: center;
    color: #FFF;
    font-size: 12px;
    font-weight: normal;
	margin-left: 56px;
}

.txtFormError {
	height: 20px;
    color: #F00;
    font-size: 12px;
}

.text-error{
	color: #F00;
    font-size: 12px;
}
